<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RK3</title>
</head>
<body>

<form action="" method="post">
    <select name="student" id="student">
        {% for st in students %}
        <option>{{ st['fio'] }}</option>
        {% endfor %}
    </select>
    <button type="submit">Получить работу</button>
</form>

{% if task %}
<h3>{{ task }}</h3>
{% endif %}
</body>
</html>